h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
    width: 50vh;
    height: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 25px;


}

.error {
    color: red;
    font-style: italic;
}

input[type=text] {
    width: 100%;
    padding: 10px 2px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {

    padding: 12px 20px;
    color: white;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1px;
}

