h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
    width: 50vh;
    height: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 25px;


}

.error {
    color: red;
    font-style: italic;
}

